.search {
  -webkit-appearance: none;
  border: 2px solid white;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  width: 350px;
  line-height: 30px;
  margin: 40px 0;
  background-color: white;
}
.search:focus {
  background-color: rgb(53, 78, 87);
  color: white;
}
