.App {
  text-align: center;
  margin: 20px;
  padding: 0 50px 10px 50px;
}
h1 {
  font-family: "Bahnschrift SemiBold", Times, serif, sans-serif;
  font-size: 56px;
  text-transform: uppercase;
  color: #000;
  border: 3px solid white;
  border-radius: 4px;
  padding: 10px;
  background-color: #e3ecf1;
}
a {
  text-decoration: none;
  color: black;
  padding: 5px 0;
}
